# Ignora todos os arquivos compilados (que estão misturados com os .java)
**/*.class
*.class

#ignora o aquivo ranking.txt
ranking.txt

# Ignora configurações do seu VS Code
.vscode/

# Ignora arquivos de sistema
Thumbs.db